{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=New+Amsterdam&display=swap" rel="stylesheet">
        <link href="{%static 'vendors/aos/aos.css'%}" rel="stylesheet">
        <title>MEA Summit</title>
        <link rel="icon" href="{% static 'Images/logo1.png' %}" type="image/x-icon">
        
    </head>
    <header>
      <div class="nav">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                               <a class="navbar-brand" href="/">
                    <img href="index.html" src="{% static 'Images/logorpm.png' %}" alt="Logo" style="width: 150px;"> <!-- Adjust the size as needed -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="sidebarMenu">
                  <div class="sidebar-header" >
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'Images/logorpm.png' %}" alt="Logo" style="width: 200px; margin-left: auto;margin-bottom: 30px;margin-right: auto;"> <!-- Adjust the size as needed -->
                    </a>
                </div>
                    <ul class="navbar-nav ms-auto"> <!-- Aligning to the right -->
                        <li class="nav-item">
                            <a class="nav-link" href="/registration.html">Register Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/partner.html">Partner With Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    </header>

<!--
        <div class="header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href=""> 
                    <img class="logo" src="{% static 'Images/logo.png' %}" alt="">
                  </a>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Register Now</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Prtner With Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Aboute Egypt</a>
                      </li>
                    </form>
                  </div>
                </div>
              </nav> 
!-->

<!-- home sec-->
<body>

  <div class="home">
    <div class="home-content">
        <h1 id="animated-text" class="text-generate">MEA SUMMIT</h1>
        <h2 class="spaced-text">E G Y P T   2 0 2 4</h2>
      </div>
  </div>
  
<!-- end home sec-->
<!-- about-->

        <section class="aboute" >
            <div class="aboute-content" data-aos="fade-up" data-aos-duration="2000">
            <h3>What Is MEA Summit</h3>
            
            <p>Middle East and Africa Summit is a creation of a regional plenary, that would witness 150+ young professionals hailing from 55+ countries along with business leaders, entrepreneurs to enunciate the idea of peace and fulfilment of humankind's potential.</p>
                <br>
                <p>This conference marks the importance of leadership and cross
                    cultural development by getting the entire world under one roof.
                    AIESEC in Egypt is proud to host the Middle East and Africa Summit and is
                    awaiting your presence in the same</p>
                    <div class="footer">
                      <img class="footer-img" src="{% static 'Images/footer1.png' %}" alt="" srcset="">
                  </div>
                    
            </div>




        </section>
        <section class="slider" data-aos="fade-up" data-aos-duration="2000">
          <h5>You'll Experience</h5>

          <div id="carouselExampleDark" class="carousel carousel-dark slide" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static 'Images/slider.section/slider.1.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                  <h4>Opening Ceremony</h4>
                  <p>Get ready for MEA Summit official launch, a celebration of mea’s excellence, diversity and uniqueness
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'Images/slider.section/slider7.webp' %}"  class="d-block w-100" alt="...">
                <div class="carousel-caption">
                  <h4>Global Village</h4>
                  <p>Celebrate heritage, fun traditions and exotic dances. This is a true embodiment of Living Diversity
                  </p>
                </div>
              </div>
              
              <div class="carousel-item">
                <img src="{% static 'Images/slider.section/slider.3.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                  <h4>Gala Dinner</h4>
                  <p>Welcome to the most elegant night of MEA
                    Summit’24. A night where we celebrate leadership
                    and commitment, a night where we appreciate the
                    capabilities and potentials of the MEA lions</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'Images/slider.section/slider.2.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                  <h4>Egyptian Night</h4>
                  <p>Indulge in the Egyptian culture, music, shows and folklore and be prepared to witness something different. For one day be a part of it all and embrace Egyptian heritage.
                  </p>
                </div>
              </div>
            
          
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>



        <section class="gallery" >
          <div class="container">
            <h3 data-aos="fade-up" data-aos-duration="2000">See Your Name in Hieroglyphic</h3>
            <input type="text" id="singleField" name="singleField" placeholder="Enter Your name" data-aos="fade-up" data-aos-duration="2000">
            <div id="display"></div>
              <div class="scroller" data-aos="fade-up" data-aos-duration="2000">
              <div class="scroller-inner">
                <img src="{% static 'Images/event_1.jpg' %}" alt="">
                <img src="{% static 'Images/event_2.jpg' %}" alt="">
                <img src="{% static 'Images/event_3.jpg' %}" alt="">
                <img src="{% static 'Images/event_4.jpg' %}" alt="">
                <img src="{% static 'Images/event_5.jpg' %}" alt="">
                <img src="{% static 'Images/event_1.jpg' %}" alt="">
                <img src="{% static 'Images/event_2.jpg' %}" alt="">
                <img src="{% static 'Images/event_3.jpg' %}" alt="">
                <img src="{% static 'Images/event_4.jpg' %}" alt="">
                <img src="{% static 'Images/event_5.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="container">

            <img src="{% static 'Images/footer1.png' %}" alt="">
            <div class="text">
              <p>2024 &copy; courtesy of AIESEC in Egypt</p>
              <p>Developed by <a href="https://instagram.com/im_egypt" target="_blank" style="color:white"> <span> IM Egypt</span></a></p>
            </div>
          </div>
        </footer>
    </body>
</html>

<script src = "{%static 'js/bootstrap.bundle.min.js'%}">
</script>
<script>

  const inputField = document.getElementById('singleField');
  const displayDiv = document.getElementById('display');
  const displayNameDiv = document.getElementById('name-display');
  const alphabet = {
    "a": "{% static 'Images/heiroglyphics/a.png' %}",
    "b": "{% static 'Images/heiroglyphics/b.png' %}",
    "c": "{% static 'Images/heiroglyphics/c.png' %}",
    "d": "{% static 'Images/heiroglyphics/d.png' %}",
    "e": "{% static 'Images/heiroglyphics/e.png' %}",
    "f": "{% static 'Images/heiroglyphics/f.png' %}",
    "g": "{% static 'Images/heiroglyphics/g.png' %}",
    "h": "{% static 'Images/heiroglyphics/h.png' %}",
    "i": "{% static 'Images/heiroglyphics/i.png' %}",
    "j": "{% static 'Images/heiroglyphics/j.png' %}",
    "k": "{% static 'Images/heiroglyphics/k.png' %}",
    "l": "{% static 'Images/heiroglyphics/l.png' %}",
    "m": "{% static 'Images/heiroglyphics/m.png' %}",
    "n": "{% static 'Images/heiroglyphics/n.png' %}",
    "o": "{% static 'Images/heiroglyphics/o.png' %}",
    "p": "{% static 'Images/heiroglyphics/p.png' %}",
    "q": "{% static 'Images/heiroglyphics/q.png' %}",
    "r": "{% static 'Images/heiroglyphics/r.png' %}",
    "s": "{% static 'Images/heiroglyphics/s.png' %}",
    "t": "{% static 'Images/heiroglyphics/t.png' %}",
    "u": "{% static 'Images/heiroglyphics/u.png' %}",
    "v": "{% static 'Images/heiroglyphics/v.png' %}",
    "w": "{% static 'Images/heiroglyphics/w.png' %}",
    "x": "{% static 'Images/heiroglyphics/x.png' %}",
    "y": "{% static 'Images/heiroglyphics/y.png' %}",
    "z": "{% static 'Images/heiroglyphics/z.png' %}",
    "ch": "{% static 'Images/heiroglyphics/ch.png' %}",
    "sh": "{% static 'Images/heiroglyphics/sh.png' %}"
  }
  inputField.addEventListener('input', function(event) {
    const inputValue = event.target.value;
     let imageDiv = '';
     for (let i = 0; i < inputValue.length; i++) {
       let char = inputValue[i].toLowerCase();
       if(i + 1 < inputValue.length && inputValue[i + 1].toLowerCase() == 'h'){
         if(char == 'c'){char = 'ch';i++}
         else if(char == 's'){char = 'sh';i++}
       }
       if(char == ' ')continue;
       let imageUrl = alphabet[char];
       console.log(imageUrl)
       imageDiv += `<img class="hieroglyph" src="${imageUrl}" />`;
      }
     displayDiv.innerHTML = imageDiv;
     displayNameDiv.innerHTML = inputValue;
 });



</script>
<script>

  document.addEventListener('DOMContentLoaded', () => {
    const textElement = document.getElementById('animated-text');
    const finalText = textElement.textContent; // The final text to display

    // Add the "text-generate" class to the text element
    textElement.classList.add('text-generate');

    // Function to generate random characters
    const getRandomChar = () => String.fromCharCode(Math.floor(Math.random() * 26) + 65); // A-Z

    // Function to create random letters animation
    const animateText = () => {
        const textLength = finalText.length;
        const intervalTime = 50; // Time between character changes
        const totalTime = 750; // Total time for animation in milliseconds
        const iterations = totalTime / intervalTime;
        let count = 0;

        // Create an array of random characters
        const randomText = Array.from({ length: textLength }, () => getRandomChar()).join('');
        textElement.textContent = randomText;

        const interval = setInterval(() => {
            if (count < iterations) {
                // Display random characters
                textElement.textContent = Array.from({ length: textLength }, () => getRandomChar()).join('');
                count++;
            } else {
                clearInterval(interval);
                // Set final text
                textElement.textContent = finalText;
            }
        }, intervalTime);
    };

    animateText();
});

const sidebar = document.getElementById('sidebarMenu');
const toggleButton = document.querySelector('.navbar-toggler');

toggleButton.addEventListener('click', () => {
  if(document.querySelector('false')){
    sidebar.classList.toggle('show');
    toggleButton.classList.toggle('collapsed');
  }
  else{
    sidebar.classList.toggle('hide');
    toggleButton.classList.toggle('collapsed');
  }
  
  
});


</script>
<script src="{%static 'js/aos.js'%}"></script>
<script>
  AOS.init();
</script>